# Auto detect text files and perform LF normalization
* text=auto
bootstrap-4.0/docs/4.0/components/alerts.md
bootstrap-4.0/package-lock.json
bootstrap-4.0/Gemfile.lock
bootstrap-4.0/docs/4.0/components/badge.md
bootstrap-4.0/Gemfile